table.progressPercentage{
    width:60%; 
}

td{
    text-align: right;
    color: black;
    padding:10px;
    margin:auto;
    border: 5px   rgb(250, 178, 168) solid;
    vertical-align: bottom;
    background-color:white;
    border-radius: 14px;
    word-spacing: 2px;
    letter-spacing: 1.5px;
}


